// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.5;

// Colors
$kolab-blue: #65c2ee;
$light: #f6f5f3;

$main-color: $kolab-blue;

// App colors
$menu-bg-color: $light;
$menu-footer-color: #fff;
$menu-footer-bg-color: #aaa;
$menu-gray: #575656;

$table-hover-bg: $menu-bg-color;
$table-head-bg: $menu-bg-color;
